<%= link_to("スレッド一覧に戻る", boards_path) %>
<hr>
<h1>Boards#new</h1>
<%= form_for @board do |f| %>
  タイトル: <%= f.text_field :title %> <br>
  作成者名: <%= f.text_field :editor %> <br>
  <%= f.submit %>
<% end %>
