<%= link_to("スレッド一覧に戻る", boards_path) %>
<hr>
<h1>Boards#new</h1>
<%= form_tag(boards_path,method: :post) do %>
  タイトル: <%= text_field_tag(:title) %> <br>
  作成者名: <%= text_field_tag(:editor) %> <br>
  <%= submit_tag %>
<% end %>
